<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->
        
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

        <div th:text="${message}">TODO write content</div>

        <!--/*/ <th:block th:include="fragments/footinc :: footinc"></th:block> /*/-->

    </body>
</html>
